<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Weather Forecast</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		</head>
	<body>
		<section>
				<nav>
					<a href="/">Home</a>
					<a href="/about">About Me</a>
					<a href="/help">Help</a>
				<a href="/"><img src="logo.jpg" alt="Logo" id="logo"/></a>
				</nav>