{{>header}}
	<div id="aboutme">
		<p>{{message1}}</p>
		<p>{{message2}}</p>
		<p>{{message3}}</p>
		<p>More code I've written can be viewed on <a href="https://github.com/alexgabriel-ca">GitHub</a>.</p>
	</div>
{{>footer}}